/* nav styling */
.back {
  padding: 10px;
}
/* main content styling */
.container {
  padding: 15px 50px 15px;
  position: relative;
  text-decoration: none;
  font-family: Helvetica;
}
a img {
  height: 140px;
  width: 100%;
  object-fit: cover;
  filter: grayscale(80%);
}
.link {
  /* font styling */
  font-size: 25px;
  font-weight: bold;
  color: black;
  background-color: white;
  text-transform: uppercase;
  padding: 3px 5px 3px;
  /* position styling */
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  /* hide text */
  visibility: hidden;
}
a img:hover {
  filter: grayscale(0);
}
a:hover .link {
  visibility: visible;
}
.link:hover ~ img {
  filter: grayscale(0);
}
/* sub content styling */
h5, p {
  margin: 10px 0px 10px;
}
p {
  font-size: 14px;
  line-height: 1.3em;
}
.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7px;
}
.grid-container-2 img {
  display: block;
  width: 100%;
}
.grid-container-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 7px;
}
.grid-container-1 img {
  display: block;
  width: 100%;
}
.container img {
  width: 100%;
}